# Build artifacts
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet packages (usually restored automatically)
*.nupkg
*.snupkg
